@import "tailwindcss";

/* Tes styles personnalisés en dessous */
body {
  background-color: #000000;
  color: white;
  overflow: hidden; /* Empêche le scroll indésirable */
  margin: 0;
  height: 100vh;
}